<%= form_for(@plane) do |f| %>
  <% if @plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

      <ul>
      <% @plane.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :in_service_since %><br />
    <%= f.number_field :in_service_since %>
  </div>
  <div class="field">
    <%= f.label :last_service %><br />
    <%= f.date_select :last_service %>
  </div>
  <div class="field">
    <%= f.label :seats %><br />
    <%= f.number_field :seats %>
  </div>
  <div class="field">
    <%= f.label :luxury %><br />
    <%= f.text_field :luxury %>
  </div>
  <div class="field">
    <%= f.label :incidents %><br />
    <%= f.number_field :incidents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
