<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @plane.type %>
</p>

<p>
  <b>In service since:</b>
  <%= @plane.in_service_since %>
</p>

<p>
  <b>Last service:</b>
  <%= @plane.last_service %>
</p>

<p>
  <b>Seats:</b>
  <%= @plane.seats %>
</p>

<p>
  <b>Luxury:</b>
  <%= @plane.luxury %>
</p>

<p>
  <b>Incidents:</b>
  <%= @plane.incidents %>
</p>


<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
